body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
/* ヘッダー */
#header {
    height: 5%;
    background-color: #55c500;
    display: flex;
    align-items: center;
}
#header-title{
    color: #fff;
    padding-left: 10px;
}
/* 地図 */
#map-area {
    height: 85%;
    display: flex;
}
#map {
    width: 85%;
    /* width: 100%; */
    height: 100%;
}
/* サイドバー */
#sidebar{
    width: 15%;
    height: 100%;
}
#button-area{
    width: 100%;
    height: 100%;
}
/* #layer-area{
    width: 100%;
    height: 50%;  
} */
/* シェルター情報 */
#shelter-info{
    height: 10%;
}
#shelter-info-textarea{
    height: 100%;
}